body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('image.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    color: #000;
}

h1 {
    font-size: 2.5em;
    color: #33ccff;
    text-shadow: 2px 2px 4px #000000;
}

.start-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
}

p {
    font-size: 1.2em;
    color: #33ccff;
}
