<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game - Group 3</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Welcome to Snake Game - Group 3!</h1>
            <button onclick="startGame()" class="start-btn">Start Game</button>
            <p>
                Use any keys to move!<br>
                Press New Game to Restart your game!<br>
                Press A* Run and then press any arrow key to watch the A* Algorithm Snake Player!
            </p>
        </div>
    </div>

    <script>
        function startGame() {
            window.location.href = "/start_game";
        }
    </script>
</body>
</html>
